<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>feedbackManagement</servlet-name>
        <url-pattern>/feedbackManagement</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>signin</welcome-file>
    </welcome-file-list>
    <!--    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>displayBookingServlet</servlet-name>
        <servlet-class>controller.supplier.displayBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmBookingServlet</servlet-name>
        <servlet-class>controller.supplier.confirmBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayAcceptedBooking</servlet-name>
        <servlet-class>controller.supplier.displayAcceptedBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayDeclinedBooking</servlet-name>
        <servlet-class>controller.supplier.displayDeclinedBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayDoneBooking</servlet-name>
        <servlet-class>controller.supplier.displayDoneBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayPendingContract</servlet-name>
        <servlet-class>controller.supplier.displayPendingContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayContractDetail</servlet-name>
        <servlet-class>controller.supplier.displayContractDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmPendingContract</servlet-name>
        <servlet-class>controller.supplier.confirmPendingContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayAcceptedContract</servlet-name>
        <servlet-class>controller.supplier.displayAcceptedContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayDeclinedContract</servlet-name>
        <servlet-class>controller.supplier.displayDeclinedContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayDoneContract</servlet-name>
        <servlet-class>controller.supplier.displayDoneContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOutServlet</servlet-name>
        <servlet-class>controller.supplier.logOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayCustomerServlet</servlet-name>
        <servlet-class>controller.supplier.displayCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomManagementServlet</servlet-name>
        <servlet-class>controller.supplier.roomManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supplierProfileServlet</servlet-name>
        <servlet-class>controller.supplier.supplierProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackManagement</servlet-name>
        <servlet-class>controller.supplier.feedbackManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayBookingServlet</servlet-name>
        <url-pattern>/displayBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmBookingServlet</servlet-name>
        <url-pattern>/confirmBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayAcceptedBooking</servlet-name>
        <url-pattern>/displayAcceptedBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayDeclinedBooking</servlet-name>
        <url-pattern>/displayDeclinedBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayDoneBooking</servlet-name>
        <url-pattern>/displayDoneBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayPendingContract</servlet-name>
        <url-pattern>/displayPendingContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayContractDetail</servlet-name>
        <url-pattern>/displayContractDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmPendingContract</servlet-name>
        <url-pattern>/confirmPendingContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayAcceptedContract</servlet-name>
        <url-pattern>/displayAcceptedContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayDeclinedContract</servlet-name>
        <url-pattern>/displayDeclinedContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayDoneContract</servlet-name>
        <url-pattern>/displayDoneContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOutServlet</servlet-name>
        <url-pattern>/logOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayCustomerServlet</servlet-name>
        <url-pattern>/displayCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomManagementServlet</servlet-name>
        <url-pattern>/roomManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supplierProfileServlet</servlet-name>
        <url-pattern>/supplierProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>List_SupplierController</servlet-name>
        <servlet-class>controller.Admin.List_SupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_CustomerController</servlet-name>
        <servlet-class>controller.Admin.List_CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main_ListController</servlet-name>
        <servlet-class>controller.Admin.Main_ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoiMatKhau</servlet-name>
        <servlet-class>controller.Admin.DoiMatKhau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThayDoiThongTin</servlet-name>
        <servlet-class>controller.Admin.ThayDoiThongTin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplier</servlet-name>
        <servlet-class>controller.Admin.DeleteSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>controller.Admin.List_ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.Admin.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_ReportController</servlet-name>
        <servlet-class>controller.Admin.List_ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_FeedbackController</servlet-name>
        <servlet-class>controller.Admin.List_FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>controller.Admin.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfo</servlet-name>
        <servlet-class>controller.Admin.ChangeInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>List_SupplierController</servlet-name>
        <url-pattern>/list_supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_CustomerController</servlet-name>
        <url-pattern>/list_customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main_ListController</servlet-name>
        <url-pattern>/Main_ListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoiMatKhau</servlet-name>
        <url-pattern>/doimatkhau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThayDoiThongTin</servlet-name>
        <url-pattern>/thaydoithongtin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplier</servlet-name>
        <url-pattern>/DeleteSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_ReportController</servlet-name>
        <url-pattern>/list_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_FeedbackController</servlet-name>
        <url-pattern>/list_feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfo</servlet-name>
        <url-pattern>/changeinfo</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>List_BB</servlet-name>
        <servlet-class>controller.Admin.List_BB</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>List_BB</servlet-name>
        <url-pattern>/list_bb</url-pattern>
    </servlet-mapping>
</web-app>
